@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000000;
  --background-color: #f3f3f3;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}